ul li{
    list-style-type: none;
}
body{
    height: 2000px;
}
header{
    position: sticky;
    top: 0;

}
header .active{
 background-color: white;
}
a {
    color: white;
    text-decoration: none;
}
body{
    background-color: #1a1e21;
    font-family: 'Montserrat', sans-serif;
}
.navbar {
    padding: 0 30px;
 height: 80px;
 display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    height: 50px;
}

.menu-long {
    display: flex;
}
.items-menu a{
    position: relative;
    text-decoration-line: none;
    font-size: 17px;
    line-height: 30px;
    color: #999999;
    transition-duration: 400ms;
}
.items-menu a:hover{
    color: white;
    transition-duration: 400ms;
}
.items-menu a:after{
    content: "";
    position: absolute;
    right: 0;
    top: 15px;
    border-bottom: 3px solid #6abade;
    width: 100%;
    height: 100%;
}
.items-menu:nth-child(2){
 margin: 0px 60px;
}

.menu-smoll{
    display: none;
    cursor: pointer;
}
.burger-icon .line{
    width: 22px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
}
.burger-icon .line:nth-child(2){
   margin: 3px 0;
}
.menu-list {
    overflow: hidden;
    position: absolute;
    top: 80px;
    left: 0;
     width: 95.7%;
    height: 0px;
    background-color: #272727;
  transition-duration: 400ms;
    padding: 0 20px;
}
.menu-list::-webkit-scrollbar {
    width: 0;
}
.close .menu-list div{

    margin: 20px  0 0 0 ;

}
.close .menu-list {
    transition-duration: 400ms;
   overflow: auto;
    height: 130px;

}


.items_menu_smoll a{
  font-size: 15px;
    line-height: 30px;
    padding: 0 20px;
}
.items_menu_smoll:nth-child(2){
    border-bottom: 1px solid #535353;
    border-top: 1px solid #535353;
}
.items_menu_smoll:nth-child(1){
    margin-top:30px;
}
.o_nas #o_nas a{
    color: #6abade;
}
.incubatori #incubatori a{
    color: #6abade;
}
.contakti #contakti a{
    color: #6abade;
}
.close .burger-icon {
    padding: 0;
    margin: 0;
}
.burger-icon{
    position: relative;
}
.close .burger-icon .line:nth-child(1){
  transform: rotate(45deg);

}
.close .burger-icon .line:nth-child(3){
    transform: rotate(135deg);
    position: absolute;
     top: 0;
}

.close .burger-icon .line:nth-child(2){
    display: none;
}
@media (max-width: 1000px){
  .menu-long{
      display: none;
  }
    .menu-smoll{
        display: block;
    }
}
