ul li{
    list-style-type: none;
}
body{
    background-color: #1a1e21;
    font-family: 'Montserrat', sans-serif;
}
.navbar {
    padding: 0 30px;
 height: 80px;
 display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    height: 50px;
}

.menu-long {
    display: flex;
}
.items-menu a{
    position: relative;
  text-transform: uppercase;
    text-decoration-line: none;
    font-size: 14px;
    line-height: 30px;
    color: white;

}
.items-menu a:after{
    content: "";
    position: absolute;
    right: 0;
    top: 15px;
    border-bottom: 3px solid #6abade;
    width: 100%;
    height: 100%;
}
.items-menu:nth-child(2){
 margin: 0px 60px;
}

.menu-smoll{
    display: none;
    cursor: pointer;
}
.burger-icon .line{
    width: 22px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
}
.burger-icon .line:nth-child(2){
   margin: 3px 0;
}
@media (max-width: 1000px){
  .menu-long{
      display: none;
  }
    .menu-smoll{
        display: block;
    }
}
